/*
 * Globals
 */

body {
  color: #555;
  font-family: "Questrial", sans-serif;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 0;
  font-weight: normal;
  color: #333;
}
p {
  font-size: 20px;
}

a:hover {
  color: purple;
}

img {
  max-width: 100%;
  height: auto;
}

/*header*/

.summary {
  color: #000;
  height: auto;
  padding-bottom: 10%;
  padding-top: 2%;
  width: 100%;
}
#navbar {
  float: left;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#sidebar {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#sidebar ul li a {
  color: #7b6986;
  display: block;
  font-size: 17.6px;
  padding: 9px;
}
#sidebar ul li a:hover {
  text-decoration: underline;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
}

/*
   * Blog name and description
   */
.bar_button {
  padding-bottom: 10%;
}
.blog-header {
  padding-top: 2px;
  padding-bottom: 20px;
}
.blog-title {
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}

.blog-description {
  font-size: 20px;
  color: #999;
}

.blog-post {
  padding: 2%;
}

.blog-post:hover {
  background-color: #f3f3f3;
  scale: 1.2;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/*
   * Main column and sidebar layout
   */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}

/*
Comment
*/
label {
  display: none;
}
.comment-list li {
  list-style: none;
  padding: 5%;
}

.comments-area {
  padding-top: 10%;
}

.comment-form-comment textarea {
  width: 100%;
}

#respond {
  background: #fbfbfb;
  padding: 0 10px 0 10px;
}

/* Highlight active form field */

#respond input[type="text"],
textarea {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #dddddd;
}

#respond input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
textarea:focus {
  -webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  margin: 5px 1px 3px 0px;
  border: 2px solid rgba(81, 203, 238, 1);
}

/*
   * Blog posts
   */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}

/*
   * Footer
   */

.blog-footer {
  padding: 40px 0;
  color: #7b6986;
  text-align: center;
  background-color: #f4e9f8;
  -webkit-box-shadow: 0 -1px 5px #bb9cd9;
  box-shadow: 0 -1px 5px #bb9cd9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer a {
  color: #7b6986;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
.logo {
  float: left;
  padding: 1% 10%;
}
.list {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-gap: 20px;
}
.list ul {
  list-style-type: none;
}
.list li {
  margin: 10px 0;
}
.name {
  margin-bottom: 0;
  text-align: left;
  padding-left: 5%;
}
.back {
  font-size: 18px;
  padding-top: 30px;
}

@media (min-width: 300px) and (max-width: 449px) {
  .summary {
    padding-top: 5%;
  }

  #sidebar ul li {
    float: left;
    font-size: 1.1em;
    padding: 5px;
  }
  .blog-title {
    margin-top: 35px;
    font-size: 50px;
  }
  .blog-post-title {
    font-size: 30px;
  }
  .list {
    display: grid;
    grid-template-columns: 1fr;
  }
  .comments-area {
    padding-top: 30%;
  }
  .back {
    font-size: 15px;
  }
}
@media (min-width: 450px) and (max-width: 610px) {
  .list {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/*
   * Override Bootstrap's default container.
   */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
